.xin{
    position: absolute;
    width: 194.25rem;
    height: 135rem;
    animation:rotateImg 5s;
    animation-iteration-count:infinite;
  
    -webkit-animation:rotateImg 5s;
    -webkit-animation-iteration-count: infinite;
}

@keyframes rotateImg {
    0% {transform : rotate(0deg);}
    100% {transform : rotate(360deg);}
  }
  
  @-webkit-keyframes rotateImg {
      0%{-webkit-transform : rotate(0deg);}
    100%{-webkit-transform : rotate(360deg);}
  }